@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&family=Nunito:wght@400;700&display=swap%27');
@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    background-color: black;
}

html::-webkit-scrollbar-thumb {
    background-color: greenyellow;
    border-radius: 1rem;
}